@import url('https://fonts.googleapis.com/css2');
:root{
  --bg-color:#19191F;
   --font-color: #69e4fa;
  --exp-card-color:#23232c;
}

html{
  overflow: scroll;
}

body{
  min-height:100vh;
}

::-webkit-scrollbar{
  width: 0px;
  background:transparent;
}

*{
  border:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  line-height: 50px;
  color:#ffffff;
}

html{
  scroll-behavior: smooth;
}



a{
  text-decoration: none;
  color:white;
}

textarea{
  resize:none;
} 


body{
  background-color: var(--bg-color);
  
}



li{
  list-style-type: none;
}

header a {
  text-decoration: none;
  color:var(--font-color);
  
}

header li{
  font-weight:bold;
}

.logo{
  display: table;
}

.logo img{
  display:table-row;
}

.header{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  z-index:500;
  transition:0.9s;
  padding:20px;
}


.prog-bar{
  height: 8px;
  background-color:var(--font-color);
  position:fixed;
  top:125px;
  z-index:9999;
  border-radius: 35px;
}

.header.scroll{
  background:rgba(25,25,31,0.9);
  backdrop-filter:blur(1px);
  transition: 0.9s;
}



.name{
   color:var(--font-color); 
  display: block; 
  font-size: 2em !important; 
 
  font-weight: bold;
}




.animation{
  display:block;
}


.navbar, .hamburger-button{
  margin-right:50px;
}



.navbar > ul{
  display:flex;
  gap:15%;
  flex:1;
  justify-content: flex-end;
 
}


.hero-section{
  width: 100%;
  height:800px;
  
  position: relative;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:20%;
}

.hero-text-container{
  margin-left:10%;
}

.svg-hero{
  margin-right:10%;
}

.hero-text ,.hero-text > *:not(h1){
  font-size:26px;
  line-height:5rem;
}


.hero-button{
  background-color: transparent;
  border:2px solid #F4EBD9;
  font-size:1.2rem;
  border-radius:5px;
  cursor: pointer;
  margin-top:10px;
  padding:10px;
  transition: .5s;
}

.hero-button:hover{
  background-color: #F4EBD9;
  border:2px solid transparent;
  color: var(--bg-color);
  transition: .5s;
}


.banner-text{
  color:white;
  text-align: center;
}

.contact-button{
  background-color: transparent;
  border: 2px solid #aecbda;
  color:#aecbda;
  padding:10px;
  font-size:1.09rem;
  cursor: pointer;
  transition:.5s;
}

.contact-button:hover{
  background-color: #70848e;
  transition:.5s;
}

 .experience, .projects, .skills, .contact, .about{
  display:block;
  width:75%;
  margin-left:auto;
  margin-right: auto;
  margin-top:100px;
  color:white;
  
}





.experience, .projects, .skills, .contact{
  padding-top:50px;
  border-top:2px;
  border-style: solid;
  border-color: #6B6969;
}




.contact{
  width:35%;
}

.footer{
  display:block;
  width:100%;
  margin-top:100px;
  height:100%;
}

.footer-nav a, .animation > span {
  color: var(--font-color);
  font-weight: bold;;
}



.about > h1, .experience > h1, .projects > h1,.skills > h1, .contact > h1{
  font-size:1.8vw;
  margin-bottom:20px;
}

.skills-container{
  display:flex;
  justify-content: center;
  gap:100px;
  flex-wrap: wrap;
}

.devIcon{
  transition: .3s ease-in-out;
  fill: var(--exp-card-color);
  cursor: pointer;
}

.devIcon:hover{
  fill: var(--font-color);
  transition:  .3s ease-in-out;
}


.about-photo{
  height:auto;
  max-width:20%;
  min-width:200px;
  border-radius: 10%;
  
  text-align: center;
  
}

.about-info{
  display:flex;
  flex-direction: row;
}

.about-info-text {
  margin-left:50px;
}

.about-info-text > p {
  font-size:clamp(15px, 1.1em, 2em);
}

.experience{
  padding:20px;
  width:75%;
}






.experience-table{
  display:flex;
  flex-direction: column;
  gap:50px;
  
}





.experience-table > div {
  display:flex;
  justify-content: space-between;
  
}


.experience-date{
  font-size:1.2rem;
}

.experience-title{
  font-weight:bold;
  color: var(--font-color);
}

.company{
  font-style:italic;
}



.project-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.project-card{
  
  height:500px;
 background-size: cover;
 background-repeat: no-repeat;
  flex:0 0 75%;
 display: flex;
 justify-content:center;
 align-items: center;
 background-repeat: no-repeat;
}

.project-name{

  font-size:1.4rem;
  font-weight:bold;
  display:none;
  
}

.project-card:hover > .project-name{
 display: block;
}

.contact-form{
  display:flex;
  flex-direction: column;
  gap:50px;
}

.form-control{
  display:flex;
  flex-direction: column;
}

.form-control > input, .form-control > textarea{
  background-color: var(--exp-card-color);
  outline: none;  
  border:2px solid transparent;
  transition: .2s linear;
  border-radius:10px;
}

.form-control > input:focus, .form-control > textarea:focus{
  box-shadow:  0 0 3px 3px var(--font-color);
  transition: .2s linear;
}

.form-control > textarea{
  padding:10px;
}


.email-input, .name-input{
  font-size:1.2rem;
}

.email-body, .text-body{
  font-size:1rem;
  line-height:15px;
  height:200px;
}

.submit-contact{
  background-color: transparent;
  border: 2px solid #6B6969;
  width:25%;
  margin-left:auto;
  margin-right:auto;
  font-size:1.09rem;
  color:white;
  cursor: pointer;
  transition: .5s;
  min-width:100px;
}

.submit-contact:hover{
  background-color: #70848e;
  transition: .5s;
}

.footer{
  width:75%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.footer-nav{
  border-top:2px;
  border-bottom:2px;
  border-style: solid;
  border-color:#6B6969;
}

.footer-nav > ul{
  display:flex;
  justify-content: center;
  gap:10%;
  flex-wrap: wrap;
  padding:30px;
}

.sites{
  margin-top:30px;
  display:flex;
  justify-content: space-evenly;
}

.copyright{
  margin-top:20px;
  text-align: center;
  color:#ffffff;
}

.mobile-nav{
  display:none;
  
}


.hamburger-button{
  display:block;
  position: relative;
width:50px;
cursor: pointer;
appearance: none;
background: none;
border:none;
outline: none;
}



.web-developer{
  
  overflow:hidden;
  margin:0 auto;
  display:inline-block;
  white-space: nowrap;
  vertical-align: middle;
  width: max-content;
  
  word-break: break-all;
  position:relative;

  
 
}

.web-developer::after{
  position:absolute;
  
  
  background-color: #19191F;
  content:'';
  left:0;
  
  width:100%;
  height:100%;
  animation:
    typewriter 5s steps(15) infinite forwards,

    blink-caret .4s step-end infinite;
    
}


.experience-timeline{
  position: relative;
  width:100%;
  
}






.experience-card{
  margin-bottom:35px;
  display: flex;
  flex-direction: column; 
  padding:50px;
  position:relative;
  z-index:1; 
  
}

.even{
  align-items: flex-end;
}

.experience-card > section{
  width: calc(50% - 40px);
  background-color: var(--exp-card-color);
  padding:50px;
  position: relative;
  border-radius:10px;
  cursor: pointer;
}



.even{
  justify-content: flex-end;

  
}

.odd{
  justify-content: flex-start;

}




.odd > section::before, .even > section::before{
  position:absolute;
  width:20px;
  height:20px;
  content:'';
  top:30px;
  bottom:0;
  background-color: var(--exp-card-color);
  transform:rotate(-45deg);
  z-index:-10;
  
}

.even > section::before{
  left:-8px;
}

.odd > section::before{
  right:-7px;
}


.expIcon > path{
  fill:var(--font-color);
}

.expIcon{
  position: absolute;
  content: '';
  top:10px;
  border:2px solid #ffffff;
  padding:10px;
  background-color: #19191F ;

  border-radius: 35px;
  height:auto;
  right:-75px;
  max-width:35px;
  bottom:0;
  
}

.even > section  > .expIcon{
  right:0;
  left:-70px;
}









.even{
  margin-left:auto;
  text-align:left;
}







.timeline-line{
  content:'';
  width:2px;

  background: var(--font-color);
  position: absolute;
  top:0;
  left:50%;
  bottom:0;
  height:auto;
  border-radius:50px;
  
}






@keyframes expcard-odd{
  0%{

  }
}




@keyframes typewriter{

  0%{
    left:0;
  }
  5%{
    left:0;
  }
  30%, 40%, 50%{
      left:100%;
    }

  

  90%{
    left:0;
  }

  100%{
    left:0;
  }

}

@keyframes blink-caret{
  from, to{
    border-left: 2px solid var(--font-color);
  }

  50%{
    border-left: 2px solid transparent;
  }
}






@media(max-width:1385px){
  .about-info{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .about-info-text{
    text-align: center;
    
  }
}

@media(max-width:800px){
  
  .hamburger-button{
    display:block;
    margin-left:auto;
    margin-right:10px;
    z-index:101;
  }

  .hamburger-button .burger-bar, .hamburger-button::after, .hamburger-button::before{
    content: '';
    display:block;
    width:100%;
    height:3px;
    background-color: #ffffff;
    margin: 7px;
    transition: 0.4s;
    
  }

  .hamburger-button.active::before{
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .burger-bar{
    opacity:1;
  }


  .hamburger-button.active::after{
    transform: rotate(45deg) translate(-8px, -4.5px);
  }

  .navbar{
    display:none;
  }

  .mobile-nav{
    position:fixed;
    top:0;
    right:0;
    left:100%;
    margin-right:20px;
    z-index:100;
    min-height:100vh;
    display:block;
    width:100%;
    background-color: #19191F;
    background:rgba(25,25,31,0.9);
    backdrop-filter: blur(1px);
    transition:0.4s;
  }

.mobile-nav > ul{
  margin: 150px 0 0 -25px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

  .mobile-nav.active{
    left:65%;
    transition:0.4s;
  }

  .about > h1, .experience > h1, .projects > h1,.skills > h1, .contact > h1{
    text-align: center;
  }

  .about{
    text-align: center;
   }
}


@media(max-width: 1000px){
  

 .about-info-text{
  margin: 50px 0 0 0;
  
  
 } 

 .svg-hero{
  display:none;
 }


 .hero-section{
  text-align: center;
 }
 .hero-text-container
 {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .experience-card{
    font-size:clamp(15px, 1.1em, 2em);
    position: relative;
 }

 .even > section  > .expIcon{
  right:0;
  left:-90px;
}



}


@media(max-width:1385px)
{
  .about-info-text{
    padding:0;
  }
}


@media(max-width:850px){
    .about > h1, .experience > h1, .projects > h1, .skills  > h1, .contact > h1{
      font-size:5vw !important;

    }
}



@media(max-width:900px){

  .experience-card > section{
    width:100%;
    
  }

  .odd, .even{
    margin-left:20px;
  }




  .odd, .even{
    width:100%;
    
  }

  .odd > section::before{
    left:-.5em;
  }

 

  .expIcon{
    left:-90px;
  }





  .timeline-line{
    left:10px;
  }

 

}

@media(max-width:550px){
 
  .about, .experience{
    width:90%;
  }
}

@media(max-width:460px){

  
  .odd > section::before, .even > section::before{
    width:0;
  }

  .timeline-line{
    width:0;
  }

  .expIcon{
    display:none;
  }

  .experience-timeline{
    display:flex;
    flex-direction: column;
  }



  .odd, .even{
    margin:0;
  }

  .experience-card{
    padding:0;
    
    margin-bottom:50px;
  }
  
}

